absl-py==0.9.0
addict==2.4.0
pandas==1.1.1
astor==0.8.1
backcall==0.2.0
blinker==1.4
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.14.0
chardet==3.0.4
cloudpickle==2.0.0
colorama==0.4.3
conda==4.8.4
conda-package-handling==1.7.0
contextlib2==0.6.0.post1
coverage==5.2.1
cycler==0.10.0
Cython==0.29.24
dask==0.19.1
decorator==4.3.0
docopt==0.6.2
dominate==2.6.0
easydict==1.9
et-xmlfile==1.0.1
future==0.18.2
google-auth-oauthlib==0.4.1
h5py==2.10.0
hyperopt==0.1.2
imageio==2.9.0
ipython-genutils==0.2.0
jdcal==1.4.1
joblib==1.0.1
json-tricks==3.15.2
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.0.1
libopencv==0.0.1
lmdb==0.98
Markdown==3.2.2
matplotlib==3.2.2
matplotlib-inline=0.1.2
menuinst==1.4.16
mkl-fft==1.0.14
mkl-random==1.0.4
mkl-service==2.3.0
netifaces==0.10.9
netron==4.7.6
networkx==2.6.3
numpy==1.17.0
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.1.48
packaging==21.3
parso==0.7.0
pipreqs==0.4.11
pkginfo==1.5.0.1
progressbar2==3.53.2
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil==5.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycosat==0.6.3
Pygments==2.6.1
PyJWT==1.7.1
pymongo==3.11.0
pyparsing==2.2.0
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
PySnooper==0.4.2
python-dateutil==2.7.3
python-utils==2.5.6
PythonWebHDFS==0.2.3
pytz==2018.5
PyWavelets==1.1.1
pywin32==227
PyYAML==5.3.1
pyzmq==22.2.1
rawpy==0.16.0
regex==2022.3.15
requests-oauthlib==1.3.0
ruamel-yaml==0.15.87
scapy==2.4.3
schema==0.7.2
SciencePlots==1.0.9
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.1.0
simplejson==3.17.2
six==1.15.0
tb-nightly==2.4.0a20200902
tensorboard==2.4.1
tensorboard-plugin-netron==0.2.0
tensorboard-plugin-wit==1.6.0
tensorlayer==2.2.3
threadpoolctl==2.2.0
tifffile==2021.8.30
toolz==0.9.0
torch==1.5.1
torchfile==0.1.0
TorchSnooper==0.8
torchstat==0.0.7
torchsummaryX==1.3.0
torchvision==0.6.1
tornado==5.1
traitlets==4.3.3
typing-extensions==4.1.1
visdom==0.1.8.9
websocket-client==1.2.1
websockets==8.1
Werkzeug==1.0.1
win-inet-pton==1.1.0
wincertstore==0.2
yapf==0.32.0
yarg==0.1.9
zipp==3.1.0
